@import '../../../styles/style.scss';

$color_1: #337ab7;
$color_2: white;
$color_3: blue;
$background-color_1: #337ab7;

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
ul {
	list-style: none;
	padding: 0;
}
ul.pagination {
	li {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 1px solid #e2e2e2;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		&:first-child {
			border-radius: 5px 0 0 5px;
		}
		&:last-child {
			border-radius: 0 5px 5px 0;
		}
		a {
			text-decoration: none;
			color: $color_1;
			font-size: 1rem;
			&:hover {
				color: $color_3;
			}
		}
		a.active {
			color: $color_3;
		}
	}
	li.active {
		a {
			color: $color_2;
		}
		background-color: $background-color_1;
	}
}
.page-selection {
	width: 48px;
	height: 30px;
	color: $color_1;
}
