<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.pot_accounts.VO.Member" alias="member"/>
        <typeAlias type="com.example.pot_accounts.VO.Accounts" alias="accounts"/>
        <typeAlias type="com.example.pot_accounts.VO.Payment" alias="payment"/>
        <typeAlias type="com.example.pot_accounts.VO.Income" alias="income"/>
        <typeAlias type="com.example.pot_accounts.VO.Category" alias="category"/>
    </typeAliases>
</configuration>