@import '../../styles/color.scss';

.button-wrap {
    display: flex;
    gap: 10px;
}

.button-style {
    color: $GrayScale-88;
    width: 20%;
}

.button-submit {
    width: 100%;
    color: $GrayScale-88;

    margin-top: 50px;
}
.error-form {
    display: flex;
    align-items: center;

    gap: 10px;
}