<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.pot_accounts.Dao.MemberDao">
    <!--회원가입-->
    <insert id="insMem">
        INSERT INTO member
            (member_key, name, id, password, email, confirm)
        VALUES
            ((SELECT nextval('mem_seq') AS member_key), #{name}, #{id}, #{password}, #{email}, '1')
    </insert>
    <!--아이디 중복체크-->
    <select id="checkId" parameterType="String" resultType="int">
        SELECT count(id) FROM MEMBER WHERE id = #{id}
    </select>
    <!--회원가입 시, 개인 가계부 자동생성-->
    <insert id="createAutoAcc">
        insert into accounts(accounts_key, type, participant, accounts_title)
        values
        (   (SELECT currval + 1 AS accounts_key from sequences where name='acc_seq'),
            '개인',
            (select currval as participant from sequences where name = 'mem_seq'),
            (select concat(name, '님의 개인가계부') as accounts_title from member mem
             where (select currval from sequences where name = 'mem_seq' limit 1) = mem.member_key))
    </insert>
</mapper>