$Primary-green50 : #EFFFE5;
$Primary-green100 : #DAFFC7;
$Primary-green200 : #B7FF95;
$Primary-green300 : #89FE58;
$Primary-green400 : #61F526;
$Primary-green500 : #3FDC06;
$Primary-green600 : #2DB400;
$Primary-green700 : #238506;
$Primary-green800 : #20690B;
$Primary-green900 : #1D580F;
$Primary-green950 : #0A3201;


$GrayScale-Wite : #ffffff;
$GrayScale-BW : #F9FAFB;
$GrayScale-E3 : #E3E3E3;
$GrayScale-D9 : #D9D9D9;
$GrayScale-C7 : #C7C7C7;
$GrayScale-88 : #888888;
$GrayScale-55 : #555555;
$GrayScale-Black : #222222;

$False : #EF4352;
$True : #3D7BF7;